---
layout: default
---
<div class="row listrecent">
    {% for item in site.data.docslist.toc %}
    <div class="section-title col-md-12 mt-4">
    <h2 id="{{ item.title | replace: " ","-" }}"><span class="text-capitalize">{{ item.category }}</span></h2>
    </div>
    {% assign pages_list = item.subfolderitems %}
    {% for page in pages_list %}
    {% if page.title != null %}
    <!--{% if group == null or group == page.group %}-->
    {% include docbox.html %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    <!--{% assign group = nil %}-->
    {% endfor %}
    </div>


    <section>
        <div class="section-title">
            <h2><span>{{ page.title }}</span></h2>
        </div>
    
        <div class="article-post">
            {% for item in site.data.docslist.toc %}
                <h3>{{ item.title }}</h3>
                  <ul>
                    {% for entry in item.subfolderitems %}
                      <li><a href="{{ entry.url }}">{{ entry.page }}</a></li>
                    {% endfor %}
                  </ul>
            {% endfor %}
        {{content}}
        </div>
      <!--
        <div class="article-sidebar col-3" id="page-sidebar">
            {% if page.sidebar %}
             {% include {{ page.sidebar }} %}
            {% endif %}
        </div>
    -->
        {% if page.comments == true %}
    
        <div id="comments" class="row mb-5">
            <div class="col-md-8">
                {% include disqus.html %}
            </div>
        </div>
    
        {% endif %}
    </section>